################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/.vs
/*/*/obj
/*/*/bin
/*/*/appsettings.json
/*/*/appsettings.Development.json

/src/Services/Identity/SchoolManagerAPI.Services.Identity/bin/Debug/net6.0
/src/Services/Identity/SchoolManagerAPI.Services.Identity/obj/Debug/net6.0
/src/Services/Identity/SchoolManagerAPI.Services.Identity/obj
