################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*/obj
*/bin
*/appsettings.json
*/appsettings.Development.json
*/.vs
/src/1.2.2 - SchoolManager.Service.Course.AppService/obj/Debug/net5.0
/src/1.2.2 - SchoolManager.Service.Course.Domain/obj/Debug/net5.0
/src/1.2.5.1 - SchoolManager.Service.Course.Infra.Data/obj/Debug/net5.0
/src/1.2.2 - SchoolManager.Service.Course.Domain/obj
/src/1.2.5.2 - SchoolManager.Service.Course.Infra.CrossCutting/obj/Debug/net5.0
/.vs
/src
